<div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>名前：<%= @user.name %></h3>
        <p>ユーザーID：<%= @user.id %></p>
        <p>メールアドレス：<%= @user.email %></p>
      </div>
    </div>
</div>